.layout {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}


.layout:has(.sidebar.collapsed) .main-content {
    width: calc(100% - 70px);
    margin-left: 70px;
}

.main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    display: flex;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f4f6f8;
}

input, textarea, select {
    outline: none;
}
input:focus, textarea:focus, select:focus {
    border-color: #16a085 !important;
    box-shadow: 0px 0px 1px 1px #16a0853b;
}